// Mobile Only
@mixin mobile() {
  @media screen and (max-width: #{$layout--bp_tablet - 1}) {
    @content;
  }
}

// From Tablet Up
@mixin tablet() {
  @media screen and (min-width: $layout--bp_tablet) {
    @content;
  }
}

// From Mobile up to Tablet Only
@mixin tablet-until() {
  @media screen and (max-width: #{$layout--bp_desktop - 1}) {
    @content;
  }
}

// Tablet Only
@mixin tablet-only() {
  @media screen and (min-width: $layout--bp_tablet) and (max-width: #{$layout--bp_desktop - 1}) {
    @content;
  }
}

// From Desktop Up
@mixin desktop() {
  @media screen and (min-width: $layout--bp_desktop) {
    @content;
  }
}

// Desktop Only
@mixin desktop-only() {
  @media screen and (min-width: $layout--bp_desktop) and (max-width: #{$max-width - 1}) {
    @content;
  }
}

// Widest
@mixin wide() {
  @media screen and (min-width: $max-width) {
    @content;
  }
}

/*
//
/// Grid classes */

// The parent grid container for the website.
%layout--container {
  width: calc(100% - #{$gutter--bp_mobile});
  max-width: $max-width;

  @include tablet {
    width: calc(100% - #{$gutter--bp_tablet});
  }

  @include desktop {
    width: calc(100% - #{$gutter--bp_desktop});
  }

  @include wide {
    width: calc(#{$max-width} - #{$gutter--bp_desktop});
  }
}

// Bleeds out of parent grid container
// Uses @mixin in order to avoid specificity issues
@mixin layout--container-bleed() {
  width: calc(100% + #{$gutter--bp_mobile});
  margin-left: -($gutter--bp_mobile / 2);
  margin-right: -($gutter--bp_mobile / 2);

  @include tablet {
    width: calc(100% + #{$gutter--bp_tablet});
    margin-left: -($gutter--bp_tablet / 2);
    margin-right: -($gutter--bp_tablet / 2);
  }

  @include desktop {
    width: calc(#{$max-width} + #{$gutter--bp_desktop});
    margin-left: -($gutter--bp_desktop / 2);
    margin-right: -($gutter--bp_desktop / 2);
  }
}
